@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KARACA</h1>
    <h2 class="display-4">Kütüphanesi</h2>
    <div>

        <img class="animation__shake" src="~/img/kitap.jpg" alt="Kitaplar" height="460" width="460">
    </div>
</div>
