@model Kutuphane.WebUI.Models.KitapKopyaDto
@{
    ViewData["Title"] = "Edit";
    Layout = "AdminLayout";
}
<h1>Edit</h1>

<h4>KitapKopya</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KopyaNo" class="control-label"></label>
                <input asp-for="KopyaNo" class="form-control" />
                <span asp-validation-for="KopyaNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KitapId" class="control-label"></label>
                <select asp-for="KitapId" class="form-control" asp-items="ViewBag.Kitap"></select>
                <span asp-validation-for="KitapId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="EkleyenPersonelId" />
            <input type="hidden" asp-for="GuncelleyenPersonelId" />
            <input type="hidden" asp-for="EklenmeTarihi" />
            <input type="hidden" asp-for="GuncellenmeTarihi" />
            <input type="hidden" asp-for="SilindiMi" />
            <input type="hidden" asp-for="AktifMi" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
