@model IEnumerable<Kutuphane.WebUI.Models.KitapKopyaDto>

@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KopyaNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kitap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KopyaNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kitap.Adi)
            </td>
        </tr>
}
    </tbody>
</table>
