@using Kutuphane.WebUI.Helper.SessionHelper;
@{
    ViewData["Title"] = "Home Page";
    Layout = "UserLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome @SessionManager.LoggedUser.AdSoyad</h1>
</div>
