@using Kutuphane.WebUI.Helper.SessionHelper;
@{
    ViewData["Title"] = "Home Page";
    Layout = "AdminLayout";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin,Kolay Gelsin :D        @SessionManager.LoggedUser.AdSoyad</h1>
    <img class="animation__shake" src="~/img/kitap.jpg" alt="Kitaplar" height="460" width="460">
</div>
